<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>506661724081-ql5nsqllbtp6ub0q0mavt6ilk0qscel9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.506661724081-ql5nsqllbtp6ub0q0mavt6ilk0qscel9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>506661724081-fir5kka47984hpi9dons9t828orsn2j3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAk1bxwfrTAUtaJT8axHP2hOJZfo02aq5g</string>
	<key>GCM_SENDER_ID</key>
	<string>506661724081</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.grocery2door</string>
	<key>PROJECT_ID</key>
	<string>grocery-king-302815</string>
	<key>STORAGE_BUCKET</key>
	<string>grocery-king-302815.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:506661724081:ios:121b9d9f9319c0b841e790</string>
</dict>
</plist>